<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <title>홈페이지</title>
</head>
<body>
    <h1>타임리프 예제 테이블</h1>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜($)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board:${boardList}">
                <td th:text="${board.boardNo}">1</td>
                <td th:text="${board.title}">테스트 제목 입니다.</td>
                <td th:text="${board.writer}">김경호</td>
                <td th:text="${#calendars.format(board.regDate,'yyyy-MM-dd')}">2024.03.29</td>
            </tr>
            <tr th:each="board:${boardList}" th:object="${board}">
                <td th:text="*{boardNo}">1</td>
                <td th:text="*{title}">테스트 제목 입니다.</td>
                <td th:text="*{writer}">김경호</td>
                <td th:text="*{#calendars.format(regDate,'yyyy-MM-dd')}">2024.03.29</td>
            </tr>
        </tbody>
    </table>
</body>
</html>