<!-- 
/************String,Wrapper속성객체*************/
		request.setAttribute("a", new String("String속성객체[developer]"));
		request.setAttribute("b", new Integer(2));
		request.setAttribute("c", new Boolean(true));
		request.setAttribute("d", "String속성객체");
		request.setAttribute("e", 3);
		request.setAttribute("f",false);
		/***********자바빈 속성객체**********************/
		request.setAttribute("guest", new Guest(1,"KIM","2023/10/02","guard@gmail.com","http://www.gmail.com","타이틀","컨텐트"));
		request.setAttribute("user", new User("guard","1111","가아드","guard@gmail.com"));
		/***********List(array)속성객체*****************/
		List<Guest> guestList=new ArrayList<Guest>();
		guestList.add(new Guest(1,"KIM","2023/10/02","guard1@gmail.com","http://www.gmail.com","타이틀1","컨텐트1"));
		guestList.add(new Guest(2,"GIM","2023/10/03","guard2@gmail.com","http://www.gmail.com","타이틀2","컨텐트2"));
		guestList.add(new Guest(3,"FIM","2023/10/04","guard3@gmail.com","http://www.gmail.com","타이틀3","컨텐트3"));
		request.setAttribute("guestList", guestList);
		/***********Map 속성객체************************/
		Map<String,User> userMap=new HashMap<String,User>();
		userMap.put("guard1", new User("guard1","1111","가드1","guard1@gmail.com"));
		userMap.put("guard2", new User("guard2","2222","가드2","guard2@gmail.com"));
		userMap.put("guard3", new User("guard3","3333","가드3","guard3@gmail.com"));
		request.setAttribute("userMap", userMap);
 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--
	0. build.gradle 의존성
		implementation 'org.springframework.boot:spring-boot-starter-thymeleaf'
	1. application.properties설정
		spring.thymeleaf.prefix=classpath:/templates/
	    spring.thymeleaf.suffix=.html	
	2. html파일의 xml namespace설정
	   <html xmlns:th="http://www.thymeleaf.org">	
 		- 표현식
			변수 : ${…}
			선택 변수 : *{…}
			메시지 : #{…}
			Link URL : @{…}
		- 리터럴
			텍스트 : ‘one text’, ‘Another one’,…
			숫자 : 0, 34, 1.0, …
			boolean : true, false
			Null : null
			token : one, sometext, main, …
		- text opeation
			문자열 연결 : +
			문자 대체 : |The name is ${name}|
		- 연산
			Binary : +, -, *, /, %
			마이너스 : -
			boolean 연산
			Binary : and, or
			부정 : !, not
		- 비교 연산
			비교연산자 : >, <, >=, <= (gt, lt, ge, le)
			균등연산자 : ==, != (eq, ne)
		- 조건 연산
			if-then : (if) ? (then)
			if-then-else : (if) ? (then) : (else)
		- Default : (value) ?: (defaultValue)
	    
	    위의 표현식들은 th:attr의 형태로 사용이 가능합니다. 
	    attr부분에 적당한 속성을 넣어주면 됩니다.
	-->


	<div style="width: 800px; margin: 0 auto 0 auto">

		<h1>Thymeleaf</h1>
		<hr>
		<ul>
			<li>######### $,#,*,~ ##########</li>
			<li>***********[1] String,Wrapper속성객체출력***************
				<ul>
					<li th:text="${a}">String속성객체[publisher]</li>
					<li th:text="${b}">2[publisher]</li>
					<li th:text="${c}">true[publisher]</li>
					<li th:text="${d}">String속성객체[publisher]</li>
					<li th:text="${e}">3[publisher]</li>
					<li th:text="${f}">false[publisher]</li>
				</ul>
			</li>
			<li>***********[2] 자바빈 속성객체출력*************************
				<ul>
					<li th:text="${guest}">com.itwill.thymeleaf.domain.Guest@12345678</li>
					<li th:text="${guest.guest_no}">1</li>
					<li th:text="${guest.guest_name}">KIM</li>
					<li th:text="${guest.guest_email}">guard@gmail.com</li>
					<li th:text="${guest.guest_homepage}">http://www.gmail.com</li>
					<li th:text="${guest.guest_title}">Title</li>
					<li th:text="${guest.guest_content}">Content</li>
				</ul>
				<h3>th:object</h3>
				<ul th:object="${guest}">
					<li th:text="${guest}">com.itwill.thymeleaf.domain.Guest@12345678</li>
					<li th:text="*{guest_no}">1</li>
					<li th:text="*{guest_name}">KIM</li>
					<li th:text="*{guest_email}">guard@gmail.com</li>
					<li th:text="*{guest_homepage}">http://www.gmail.com</li>
					<li th:text="*{guest_title}">Title</li>
					<li th:text="*{guest_content}">Content</li>
				</ul>
			</li>
			<li>***********[3] List(array)속성객체출력[*]*********************
				<table th:each="guest:${guestList}">
					<tr>
						<td th:text="${guest.guest_no}">번호</td>
						<td th:text="${guest.guest_name}">이름</td>
						<td th:text="${guest.guest_email}">이메일</td>
						<td th:text="${guest.guest_homepage}">홈페이지</td>
						<td th:text="${guest.guest_title}">제목</td>
						<td th:text="${guest.guest_content}">내용</td>
					</tr>
				</table> <br>
				<ul th:each="guest:${guestList}">
					<li
						th:text="|${guest.guest_no}, ${guest.guest_name}, ${guest.guest_email}, ${guest.guest_homepage}, 
								  ${guest.guest_title}, ${guest.guest_content}|">1,KIM,guard@naver.com,제목,내용</li>
				</ul>
			</li>
			<li>***********[4] Map 속성객체출력{*}****************************
				<ul th:each="userEntry:${userMap}" th:object="${userEntry.value}">
					<li th:text="|*{userId}, *{password}, *{name}, *{email}|"></li>
				</ul>
				<hr />
				<ul th:object="${userMap['guard2']}">
					<li th:text="${userMap['guard2']}">com.itwill.thymeleaf.domain.User@b93f5ba</li>
					<li th:text="*{userId}">guard1</li>
					<li th:text="*{password}">1111</li>
					<li th:text="*{name}">가드1</li>
					<li th:text="*{email}">guard1@gmail.com</li>
				</ul>
			</li>
			<li>***********Thymeleaf 로칼변수출력****************************
				<ul
					th:with="str1='Local Thymeleaf Variable 1', str2='Local Thymeleaf Variable 2', int1=9928, localUser=${user}">
					<!-- 변수 선언 -->
					<li th:text="${str1}">난 Thymeleaf 로칼변수</li>
					<li th:text="${str2}">난 Thymeleaf 로칼변수</li>
					<li th:text="${int1}">1234</li>
					<li th:text="${localUser}">com.itwill.thymeleaf.domain.User@13e18a9e</li>
					<li th:text="${localUser.userId}">guard</li>
				</ul>
			</li>
			<li>***********국제화[#]****************************
				<ul>
					<li th:text="#{title.main}"></li>
					<li th:text="#{title.list}"></li>
				</ul>
			</li>

		</ul>
		<h3>링크[@]</h3>
		<div th:with="no=1,name='lee',addr='jeju'">
			<img src='image/thymeleaf.png' th:src="@{image/ball.png}" width="30"
				height="30" /><br> <a href='view.html'
				th:href="@{view(no=${no},name=${name},addr=${addr})}">상세보기</a>
		</div>
	</div>
	<h3>레이아웃[~ , :: ]</h3>
	<div>
		<div th:insert="~{layout/include_common::top}" >~{html파일이름 :: 템플릿조각 이름}</div>
		<div th:replace="~{layout/include_common::top}" >~{html파일이름 :: 템플릿조각 이름}</div>
		<div th:insert="~{layout/include_common::bottom}" >~{html파일이름 :: 템플릿조각 이름}</div>
		<div th:replace="~{layout/include_common::bottom}" >~{html파일이름 :: 템플릿조각 이름}</div>
	</div>
</body>
</html>