<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 >Hello Thymeleaf!!![publisher]</h1><hr>
<div>user 님안녕하세요</div>
<hr>
<h1 ></h1><hr>
<div></div>
<div>
	<a href='#'  >로그아웃</a>
	<a href='#' >로그인</a>
</div>
<br>

	<a href="">로그아웃</a><br>
	<a href="">정보보기</a><br>
	<a href="">정보수정</a><br>

<br>

	<a href="">로그인</a><br>
	<a href="">회원가입</a><br>
	<a href="">나가기</a><br>

<div >
  <p >User is an administrator</p>
  <p >User is a manager</p>
</div>


</body>
</html>