<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
    <div class="b-example-divider"></div>

    <div class="container mt-5">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">&copy; 2022 * * * 포트폴리오</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="https://github.com/lotu-us" style="font-size:2em;">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</footer>

</body>
</html>