<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/head.html :: head"></th:block>
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-md" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">📖<span>used book shop</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <!-- 
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/item/list}" th:classappend="${category}=='all' ? 'custom-active'">통합검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/item/list/novel}" th:classappend="${category}=='novel' ? 'custom-active'">소설</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/item/list/humanities}" th:classappend="${category}=='humanities' ? 'custom-active'">인문</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/item/list/cartoon}" th:classappend="${category}=='cartoon' ? 'custom-active'">만화</a>
                </li>
               -->
            </ul>
        </div>

        <div class="login-position">
            <a class="btn btn btn-outline-primary" th:href="@{/login}" sec:authorize="isAnonymous()">
                <i class="fas fa-sign-in-alt"></i> LOGIN
            </a>
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <a class="btn btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <span th:text="${#authentication.getPrincipal().member.nickname}">닉네임</span> 님
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" th:href="@{/dashboard/myInfo}"><i class="fas fa-user"></i> 대시보드</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

</body>
<script src="../js/bootstrap.bundle.min.js"></script>