<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head.html :: head"></th:block>
    <th:block th:fragment="slider-head">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="/css/slider.css"/>
    </th:block>
    <title>Title</title>
</head>
<body>

<div th:id="${id}" class="card-slider" th:fragment="card-slider(id)">
    <div class="swiper">
        <div class="swiper-wrapper">

        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev" th:id="prev_+${id}"></div>
        <div class="swiper-button-next" th:id="next_+${id}"></div>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------->

<div th:id="${id}" class="thumb-slider" th:fragment="thumb-slider(id)">

    <div class="swiper thumb-top"
         style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
        <div class="swiper-wrapper">

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div thumbsSlider="" class="swiper thumb-bottom pt-2">
        <div class="swiper-wrapper">
            <!--/* 파일 추가 */-->
            <div class="swiper-slide"
                 th:if="${#strings.contains(#httpServletRequest.requestURI, 'write') OR
                          #strings.contains(#httpServletRequest.requestURI, 'edit')}" >
                <img th:src="@{/img/slider-plus.jpg}" onclick="addImgClick(event)" />
            </div>
            <!--/* <input type="file" id="inputFile" accept="image/*" style="display:none;" multiple onchange="fileChange(event)"> */-->
            <!--/* type이 file일때 onclick은 파일 선택 전 실행되고 onchange는 파일 선택 후 실행된다 */-->
        </div>
    </div>

</div>













<script src="../js/bootstrap.bundle.min.js"></script>
<th:block th:fragment="slider-script">
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/slider.js"></script>
</th:block>
</body>
</html>