<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/head.html :: head"></th:block>
    <title>Title</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <style>
        .container .col {
            margin: 0px;
            padding: 0px;
        }

        .container .sidebarCol {
            max-width: fit-content;
            min-height: calc(100vh - 57px);
            background-color: #f4f4f4;
        }

        #myInfoForm {
            width: 80%;
            max-width: 400px;
            margin: auto;
        }

        #myInfoForm h3 {
            text-align: center;
            font-weight: bold;
            margin-top: 40px;
        }

        #myInfoForm .row {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container">
    <div class="row">

        <div class="col sidebarCol border-end">
            <div th:replace="fragments/sidebar.html :: sidebar('myInfo')"></div>
        </div>

        <div class="col"
             th:with="loginMember = ${#authentication.getPrincipal().member}">
            <div id="myInfoForm">
                <h3>회원정보</h3><br>
                <div id="id" th:text="${loginMember.id}" style="display:none;"></div>

                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="text" class="form-control" id="email" th:value="${loginMember.email}" readonly>
                </div>

                <hr>

                <div class="mb-3">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" class="form-control" id="nickname" th:value="${loginMember.nickname}">
                    <div id="nicknameHelp" class="form-text" style="display:none;">We'll never share your email with
                        anyone else.
                    </div>
                </div>

                <div class="text-center">
                    <a class="mb-2 mt-1 btn rounded-4 btn-primary" type="button" onClick="nickNameUpdate()">닉네임 수정</a>
                </div>

                <hr>

                <div th:if="${loginMember.provider == null}">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">현재 비밀번호</label>
                        <input type="password" class="form-control" id="oldPassword">
                        <div id="oldPasswordHelp" class="form-text" style="display:none;">We'll never share your email
                            with anyone else.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="newPassword" class="form-label">새 비밀번호</label>
                        <input type="password" class="form-control" id="newPassword">
                        <div id="newPasswordHelp" class="form-text" style="display:none;">We'll never share your email
                            with anyone else.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="newPasswordConfirm" class="form-label">새 비밀번호 확인</label>
                        <input type="password" class="form-control" id="newPasswordConfirm">
                        <div id="newPasswordConfirmHelp" class="form-text" style="display:none;">We'll never share your
                            email with anyone else.
                        </div>
                    </div>

                    <div class="text-center mb-5">
                        <a class="mb-2 mt-1 btn rounded-4 btn-primary" type="button" onClick="passwordUpdate()">비밀번호
                            수정</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/validutil.js"></script>
<script src="/js/dashboard/myInfo.js"></script>
</body>
</html>