<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head.html :: head"></th:block>
    <title>Title</title>
    <style>
        #findForm {
            width: 80%;
            max-width: 400px;
            margin: auto;
        }

        #findForm h1 {
            text-align: center;
            font-weight: bold;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container">

    <form id="findForm" class="needs-validation" method="post" action="/findPassword">
        <h1>비밀번호 찾기</h1><br>

        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-4" id="email" name="email">
            <label for="email">이메일</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-4" id="nickname" name="nickname">
            <label for="nickname">닉네임</label>
        </div>

        <div id="emailHelp" class="mb-3" style="display:none;">확인주세요</div>
        <div id="nicknameHelp" class="mb-3" style="display:none;">확인주세요</div>

        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="button" onClick="findSubmit()">비밀번호 찾기
        </button>
    </form>

</div>

<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/validutil.js"></script>
<script src="../js/member/findPassword.js"></script>
</body>
</html>