<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head.html :: head"></th:block>
    <title>Title</title>
    <style>
        #registerForm {
            width: 80%;
            max-width: 400px;
            margin: auto;
        }

        #registerForm h1 {
            text-align: center;
            font-weight: bold;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container">
    <form id="registerForm" class="needs-validation">
        <h1>회원가입</h1><br>

        <!--/* is-invalid : input 붉은테두리, 느낌표 표시
         invalid-feedback : 오류메시지 붉게 표시 */-->
        <div class="mb-3 has-validation">
            <label for="email" class="form-label">이메일</label>
            <input type="text" class="form-control " id="email" name="email" aria-describedby="emailHelp"
                   value="guard1@gmail.com">
            <div id="emailHelp" style="display:none;">이메일을 확인해주세요</div>
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nameHelp"
                   value="가드">
            <div id="nicknameHelp" style="display:none;">닉네임을 확인해주세요</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">비밀번호[a123$]</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"
                   value="a123$">
            <div id="passwordHelp" style="display:none;">비밀번호를 확인해주세요</div>
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                   aria-describedby="passwordConfirmHelp" value="a123$">
            <div id="passwordConfirmHelp" style="display:none;">비밀번호가 일치하지 않습니다</div>
        </div>

        <button class="w-100 mt-4 btn btn-lg rounded-4 btn-primary" type="button" disabled="true"
                onclick="registerSubmit()">회원가입
        </button>
    </form>
</div>

<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/validutil.js"></script>
<script src="../js/member/join.js"></script>
</body>
</html>