<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.AddressMapper">
	<resultMap id="addressResultMap" type="com.mybatis3.domain.Address"
			   autoMapping="true"></resultMap>
	<!-- 
	/*************************************************
		SELECT (address + students JOIN) [ 1 : n ]
	*************************************************/
	 -->
	<select id="findAddressByIdWithStudents">
		
	</select>
	<!-- 
	/*************************************************
		SELECT (address + tutors JOIN) [ 1 : n ]
	*************************************************/
	 -->
	<select id="findAddressByIdWithTutors" >
		
	</select>
</mapper>